.FullPost{
    max-width: 600px;
    margin: 30px auto;
    border: 1px solid goldenrod;
    padding: 20px;
    border-radius: 5px;
}
.Edit,
.Delete{
    background: goldenrod;
    border: transparent;
    border-radius: 5px;
    padding: 10px;
    margin: 15px;
}
.FullPostText{
    padding: 25px;
    line-height: 1.8;
    text-align: left;
}
