.Post{
    padding: 20px;
    margin: 20px;
    border: 1px solid goldenrod;
    border-radius: 5px;
}
.ReadMore{
    padding: 10px;
    background: goldenrod;
    border: transparent;
    border-radius: 5px;
}