.About{
    width: 900px;
    margin: 30px auto;
}
.About p{
    text-align: left;
}
.AboutImage{
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    width: 500px;
}
.About button {
    background: goldenrod;
    border: none;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
}

.About button:hover {
    color: goldenrod;
    background: #ccc;

}