.PostAdd{
    margin: 30px auto;
    border-radius: 5px;
    border: 1px solid goldenrod;
    max-width: 600px;
    text-align: left;
    padding: 20px;
}
.Save{
    background: goldenrod;
    border: transparent;
    border-radius: 5px;
    padding: 10px;
    margin: 15px 0;
    display: block;
}
.PostAddInput{
    width: 70%;
    border: 1px solid goldenrod;
    padding: 10px;
}
